*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.navbrand{
  font-size: 20px;
  color:aqua;
}
ul.navlist{
  display:flex;
  gap:10px;
  list-style: none;
  font-weight: 600;
}
li.navlink:hover{
  color:blueviolet;
}